.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: clamp(20px, 4vh, 50px) 1rem 1rem 1rem;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-card-title {
    padding: 5rem 0 0 0;
    font-size: clamp(1.8rem, 2vw, 1.5rem);
    color: #292727;
}