.product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 1.5rem;
    padding-top: clamp(40px, 8vh, 70px);
}

.detail-description-title {
    font-size: clamp(1rem, 3vw, 1.3rem);
    margin-bottom: 0.2rem;
}

.detail-description {
    font-size: clamp(0.8rem, 3vw, 1rem);
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .detail-description {
        margin: 0 14rem;
    }
}
